// elements/background.scss
// Path: resources/css/elements/background.scss

.los-app-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
        width: 75%;
        margin-left: auto;
        height: 100%;
        object-fit: cover;
        object-position: center 25%;

        @media (max-width: 1380px) {
            width: 100%;
            transform: scale(1.1);
            filter: blur(0.5rem);
        }
    }

    .los-app-bg-blind {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, #010E1F 800px, rgba(1, 14, 31, 0) 950px);
        z-index: 3;

        @media (max-width: 1380px) {
            background: var(--background);
            opacity: 80%;
        }
    }

}
